{%if not session["usuario_nome"]%}
    <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0"> 
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="brand-icon" width="50" height="50" src="/static/img/brand-icon.png" alt="logo rese"> 
        </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <a href="/login" ><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
        <a href="/cadastrar" ><button type="button" class="btn btn-primary">Registrar-se</button></a>
    </div>
    </header>

{%endif%}

{%if session["usuario_nome"]%}

    <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0"> <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="brand-icon" width="50" height="50" src="/static/img/brand-icon.png" alt="logo rese"> </a> </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
    </ul>
    <div class="col-md-3 text-end"> <a href="/perfil"><img width="35" height="35" src="/static/img/person-icon.png" alt="icone perfil"></a> 
    </div>
    </header>

{%endif%}