<div class="modal-body">
    <form action="/editarEvento" method="post">

        <input type="hidden" name="evento_id" value="{{evento[0]}}">

        <div class="row g-3">

            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" name="nome" value="{{evento[2]}}" required>
                    <label>Nome</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" name="local" value="{{evento[3]}}" required>
                    <label>Local</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="date" class="form-control" name="data" value="{{evento[4]}}" required>
                    <label>Data</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="time" class="form-control" name="hora" value="{{evento[5]}}" required>
                    <label>Hora</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-floating">
                    <input type="number" class="form-control" name="limite" value="{{evento[6]}}"
                        required>
                    <label>Limite de convidados</label>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <button type="button" class="btn btn-secundario-dark" data-bs-dismiss="modal">
                Cancelar
            </button>
            <button class="btn btn-evento" type="submit">
                Salvar evento
            </button>
        </div>

    </form>
</div>